<html>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
 <%= stylesheet_link_tag    'application_process' %>
<body>
 <div id="segment1" class="ui vertical stripe segment">
      <br><h1 id="subqual"><center>Enrollment Privilege Qualifications</center></h1><br><br><br>
      <h4 id="sub"><center>Check out the list of qualifications before viewing the application process</center></h4>
      <div class="ui vertical stackable grid">
        <div class="three column row">
          <div class="column">
            <i id="icon1" class="red massive student icon"></i>
            <!-- <i class="red massive long arrow right icon"></i> -->
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 1</h3>
            <i class="red check icon"></i>Interest in Further Academic Development<br>
            <i class="red check icon"></i>Good Physical Health<br>
            <i class="red check icon"></i>Desire to Complete Undergrad or Grad Studies<br>
          </div>

          <div class="column">
            <i id="icon2" class="red massive user icon"></i>
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 2</h3>
            <i class="red check icon"></i>Full-Time Faculty Members, officers and employees <br>
            <i class="red check icon"></i>Teaching and study load shall not exceed 18 units per semester<br>
          </div>

          <div class="column">
            <i id="icon3" class="red massive users icon"></i>
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 3</h3>
            <i class="red check icon"></i>Must be approved by the:<br>&emsp;

            <i class="red chevron circle right icon"></i>Immediate Supervisor<br>&emsp;
            <i class="red chevron circle right icon"></i>Head of Unit<br>&emsp;
            <i class="red chevron circle right icon"></i>Chancellor<br>&emsp;

          </div>
        </div>
      </div>
    </div><br><br><br>

      <div id="segment2" class="ui vertical stripe segment">
        <h1 id="subqual"><center>Obligations & Conditions</center></h1><br><br><br>
        <h4 id="sub1"><center>Check out the list of obligations and conditions before viewing the application process</center></h4>
        <div class="ui vertical stackable grid">
          <div class="two column row">
            <div class="three wide column">
              <i id="icon4" class="red massive help icon"></i>
            </div>

            <div class="twelve wide column">
              <div class="ui accordion">

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red align justify icon"></i>Type
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Enrollment Privilege</p>
                  <p><i class="red angle double right icon"></i>As a University policy, UP faculty members are encouraged to pursue graduate studies in fields that are within the academic priorities of their departments, colleges and the University. Faculty members may be given tuition waiver and full or partial load reduction from their teaching. While the grant of full or partial load reduction is designed to help faculty students complete their studies in the soonest time possible, it is subject to conditions which ensure that units are able to meet their teaching responsibilities.</p>
                </div>

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red hourglass half icon"></i>Effectivity
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>
                  Per Semester (renewal subject to approval and conditions)
                  </p>
                </div>

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red list icon"></i>Description
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>
                    Members of the faculty, officers and employees shall have the privilege of enrolling in the University for not more than nine (9) units at the undergraduate level or six (6) units at the graduate level a semester at reduced rates in courses that shall be beneficial to their regular work in the University or their career development, subject to the approval of the Chancellor or his/her authorized representative. In the case of non-teaching personnel, the courses shall be taken after office hours. [Art. 243]<br><br>

                    <i class="red angle double right icon"></i>No member of the faculty shall enrol as a student in the University System or in an outside institution without the permission of her/his dean or director and the Chancellor.
                  </p>
                </div>

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red clone icon"></i>Conditions
                </div>
                <div class="content">
                  <p>All full-time University personnel may enrol in university courses to obtain advanced degrees relevant to their field or discipline and shall be entitled to 100% waiver of tuition, laboratory and miscellaneous fees (except Student Fund fees) subject to the following conditions:<br><br>&emsp;
                    <i class="red angle double right icon"></i>
                    Prior to enrolment, approval of their immediate supervisor, head of unit, and Chancellor have been obtained. For faculty members, the tenured faculty of the college, as a body, shall decide which fields are deemed relevant, taking into account new developments in the discipline and the growing multi-disciplinary nature of certain fields of knowledge.<br>&emsp;
                    <i class="red angle double right icon"></i>
                    The total teaching and study load shall not exceed 18 units per semester unless with prior approval by the Chancellor.<br>&emsp;
                    <i class="red angle double right icon"></i>
                    The appointment shall be at least co-extensive with the semester or term of enrolment.<br>&emsp;
                    <i class="red angle double right icon"></i>
                    The renewal of this privilege for the succeeding semester shall be subject to satisfactory scholastic performance in the previous semester.<br>&emsp;
                    <i class="red angle double right icon"></i>
                    The faculty shall submit a true copy of grades to the dean or head of unit and to HRDO as prerequisite for renewal or extension of the privilege.<br>&emsp;
                  </p>
                </div>

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red remove icon"></i>Restrictions
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>
                    No member of the faculty shall enrol as a student in the University System or in an outside institution without the permission of her/his Dean or Director and the Chancellor. Permission may be granted only when, considering the teaching load of the faculty member, the nature and scope of the course s/he intends to take, and the time the course requires, such study will not impair her/his efficiency as a member of the faculty.<br><br><i>[Art. 260]</i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="segment3" class="ui vertical stripe segment">
      <h1><center>Enrollment Privilege Process</center></h1><br><br><br>
      <div class="ui vertical stackable grid">
        <div class="five column row">
          <div id="verticalcol" class="four wide column">
            <i class="red massive edit icon"></i>
            <h3>Step 1</h3>
            <h4>Fill out application form</h4>
            <div class="ui accordion">
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red align justify icon"></i>Full Details
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Applicant fills out application form with department chair’s, college or unit head’s endorsement</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red university icon"></i>Service Provider
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Scholarship Section</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red user icon"></i>Person in charge
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Frontline Staff of Scholarship Section</p>
              </div>
            </div>
          </div>

          <div id="verticalcol" class="two wide column">
            <i class="red massive right angle icon"></i>
          </div>

        <div id="verticalcol" class="four wide column">
            <i class="red massive mail icon"></i>
            <!-- <i class="red massive long arrow right icon"></i> -->
            <h3>Step 2</h3>
            <h4>Submit application</h4>
            <div class="ui accordion">
              <div class="title" id="fulldetails2">
                <i class="dropdown icon"></i>
                <i class="red align justify icon"></i>Full Details
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Submit application for processing</p>
              </div>
              <div class="title" id="service2">
                <i class="dropdown icon"></i>
                <i class="red university icon"></i>Service Provider
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Scholarship Section</p>
              </div>
              <div class="title" id="person2">
                <i class="dropdown icon"></i>
                <i class="red user icon"></i>Person in charge
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Frontline Staff of Scholarship Section</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red folder icon"></i>Forms
              </div>
              <div class="content">
                <p><i class="red check icon"></i>Duly accomplished application form</p>
                <p><i class="red check icon"></i>For Freshmen dependents: Birth Certificate (NSO Authenticated)</p>
                <p><i class="red check icon"></i>Written certification for non-earning dependents</p>
                <p><i class="red check icon"></i>If not tenured, attach copy of appointment or contract co-extensive with the semester or term enrolling in</p>
              </div>
            </div>
          </div>

          <div id="verticalcol" class="two wide column">
            <i class="red massive right angle icon"></i>
          </div>

          <div id="verticalcol" class="four wide column">
            <i class="red massive lock icon"></i>
            <h3>Step 3</h3>
            <h4>Secure copy of Enrollment Privilege application</h4>
            <div class="ui accordion">
              <div class="title" id="fulldetails3">
                <i class="dropdown icon"></i>
                <i class="red align justify icon"></i>Full Details
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Secure receiving copy of the Enrollment Privilege application</p>
              </div>
              <div class="title" id="service3">
                <i class="dropdown icon"></i>
                <i class="red university icon"></i>Service Provider
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Scholarship Section</p>
              </div>
              <div class="title" id="person3">
                <i class="dropdown icon"></i>
                <i class="red user icon"></i>Person in charge
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Frontline Staff of Scholarship Section </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
</body>
  <script>

  $('.ui.accordion')
    .accordion({
      'exclusive': false,
    }
  );

  $('.ui.dropdown')
    .dropdown()
  ;

  </script>
</html>
