<html>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
 <%= stylesheet_link_tag    'application_process' %>
<body>
<div id="segment1" class="ui vertical stripe segment">
      <br><h1 id="subqual"><center>Sabbatical Qualifications</center></h1><br><br><br>
      <h4 id="sub"><center>Check out the list of qualifications before viewing the application process</center></h4>
      <div class="ui vertical stackable grid">
        <div class="three column row">
          <div class="column">
            <i id="icon1" class="red massive student icon"></i>
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 1</h3>
            <i class="red check icon"></i>Proven Teaching Ability<br>
            <i class="red check icon"></i>Good Undergraduate and Graduate Record<br>
            <i class="red check icon"></i>Interest in Further Academic Development<br>
            <i class="red check icon"></i>Good Physical Health<br>
          </div>

          <div class="column">
            <i id="icon2" class="red massive user icon"></i>
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 2</h3>
            <i class="red check icon"></i>Has served the University not less than 6 consecutive years<br>
            <i class="red check icon"></i>Have been in active service in the Univeristy for at least 2 years<br>
            <i class="red check icon"></i>Sabbatical application should be filed at least 1 semester before effectivity of sabbatical<br>
          </div>

          <div class="column">
            <i id="icon3" class="red massive users icon"></i>
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 3</h3>
            <i class="red check icon"></i>Must be approved by the:<br>&emsp;
            <i class="red chevron circle right icon"></i>Department Chair<br>&emsp;
            <i class="red chevron circle right icon"></i>Department APC<br>&emsp;
            <i class="red chevron circle right icon"></i>College ExeComm<br>&emsp;
            <i class="red chevron circle right icon"></i>College Dean<br>&emsp;
            <i class="red chevron circle right icon"></i>CU APFC<br>&emsp;
            <i class="red chevron circle right icon"></i>Chancellor<br>&emsp;
          </div>
          </div>
        </div>
      </div>

      <div id="segment2" class="ui vertical stripe segment">
        <h1 id="subqual"><center>Obligations & Conditions</center></h1><br><br><br>
        <h4 id="sub1"><center>Check out the list of obligations and conditions before viewing the application process</center></h4>
        <div class="ui vertical stackable grid">
          <div class="two column row">
            <div class="three wide column">
              <i id="icon4" class="red massive help icon"></i>
            </div>

            <div class="twelve wide column">
              <div class="ui accordion">
                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red align justify icon"></i>Type
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Sabbatical, Full Salary</p>
                  <p><i class="red angle double right icon"></i>A sabbatical is a privilege given to a faculty member that exempts him/her from performing regular duties. This privilege may be granted to faculty members to encourage study, investigation, and research; and to improve their competency to better serve the University.</p>
                </div>
                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red hourglass half icon"></i>Effectivity
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>A sabbatical may be granted for a period not exceeding one (1) year</p>
                </div>
                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red checked calendar icon"></i>Appointment
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Full Time Appointment</p>
                </div>
                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red clone icon"></i>Conditions
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>The faculty member has served the University not less than six (6) consecutive years immediately prior to the sabbatical provided that:<br><br>&emsp;<i class="red long arrow right right icon"></i>s/he shall have been in active service in the University at least two (2) years before the sabbatical<br>&emsp;<i class="red long arrow right right icon"></i>any vacation or sick leave without pay of not more than five (5) months shall not be considered a break in the six-year period;<br>&emsp;<i class="red long arrow right right icon"></i>active service in this particular case shall be understood to mean actual direct service to the University, which shall also include special detail.</p>
                  <p><i class="red angle double right icon"></i>In no case shall the sabbatical be granted, within two (2) years before the faculty member’s 65th birthday.</p>
                  <p><i class="red angle double right icon"></i>For more effective planning of class schedules, the application for sabbatical should be filed with the immediate heads of units at least one (1) semester before the intended effectivity of the sabbatical.</p>
                  <p><i class="red angle double right icon"></i>The faculty member shall report back for service to the University immediately after the sabbatical. Report back for service is understood to mean resumption of teaching duties or assumption of administrative assignment for at least two (2) years.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="segment3" class="ui vertical stripe segment">
      <h1><center>Sabbatical Leave Application Process</center></h1><br><br><br>
      <div class="ui vertical stackable grid">
        <div class="five column row">
          <div id="verticalcol" class="four wide column">
            <i class="red massive mail icon"></i>
            <!-- <i class="red massive long arrow right icon"></i> -->
            <h3>Step 1</h3>
            <h4>Submit your application</h4>
            <div class="ui accordion">
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red align justify icon"></i>Full Details
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Submit duly accomplished application with complete documents attached to Scholarship section for validation</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red university icon"></i>Service Provider
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Scholarship Section</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red user icon"></i>Person in charge
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Frontline Staff of Scholarship Section</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                <i class="red folder icon"></i>Forms
              </div>
              <div class="content">
                <p><i class="red check icon"></i>Letter of request for sabbatical addressed to the Chancellor, through channels, with endorsement of Department Chair and Head of Unit/College</p>
                <p><i class="red check icon"></i>Application Form Sabbatical leave</p>
                <p><i class="red check icon"></i>Faculty Profile (not to exceed 15% on leave with pay)</p>
              </div>
            </div>
          </div>

          <div id="verticalcol" class="two wide column">
            <i class="red massive right angle icon"></i>
          </div>

          <div id="verticalcol" class="four wide column">
            <i class="red massive check circle icon"></i>
            <h3>Step 2</h3>
            <h4>Verify the status of vacation or sick leave</h4>
            <div class="ui accordion">
              <div class="title" id="fulldetails2">
                <i class="dropdown icon"></i>
                <i class="red align justify icon"></i>Full Details
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Verify the status of vacation or sick leave without pay if not more than 5 months for the past six years</p>
              </div>
              <div class="title" id="service2">
                <i class="dropdown icon"></i>
                <i class="red university icon"></i>Service Provider
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Benefits Section</p>
              </div>
              <div class="title" id="person2">
                <i class="dropdown icon"></i>
                <i class="red user icon"></i>Person in charge
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Analyst of Benefits Section</p>
              </div>
            </div>
          </div>

          <div id="verticalcol" class="two wide column">
            <i class="red massive right angle icon"></i>
          </div>

          <div id="verticalcol" class="four wide column">
            <i class="red massive lock icon"></i>
            <h3>Step 3</h3>
            <h4>Secure copy of Sabbatical application</h4>
            <div class="ui accordion">
              <div class="title" id="fulldetails3">
                <i class="dropdown icon"></i>
                <i class="red align justify icon"></i>Full Details
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Secure receiving copy of the Sabbatical Application</p>
              </div>
              <div class="title" id="service3">
                <i class="dropdown icon"></i>
                <i class="red university icon"></i>Service Provider
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Scholarship Section</p>
              </div>
              <div class="title" id="person3">
                <i class="dropdown icon"></i>
                <i class="red user icon"></i>Person in charge
              </div>
              <div class="content">
                <p><i class="red angle double right icon"></i>Frontline Staff of Scholarship Section </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
  <script>

  $('.ui.accordion')
    .accordion({
      'exclusive': false,
    }
  );

  $('.ui.dropdown')
    .dropdown()
  ;
  </script>
</html>
