<html>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
 <%= stylesheet_link_tag    'application_process' %>
<body>
<div id="segment1" class="ui vertical stripe segment">
      <br><h1 id="subqual"><center>Special Detail Qualifications</center></h1><br><br><br>
      <h4 id="sub"><center>Check out the list of qualifications before viewing the application process</center></h4>
      <div class="ui vertical stackable grid">
        <div class="three column row">
          <div class="column">
            <i id="icon1" class="red massive student icon"></i>
            <!-- <i class="red massive long arrow right icon"></i> -->
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 1</h3>
            <i class="red check icon"></i>Proven Teaching Ability<br>
            <i class="red check icon"></i>Good Undergraduate and Graduate Record<br>
            <i class="red check icon"></i>Interest in Further Academic Development<br>
            <i class="red check icon"></i>Good Physical Health<br>
          </div>

          <div class="column">
            <i id="icon2" class="red massive user icon"></i>
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 2</h3>
            <i class="red check icon"></i>Must not miss 20% of class meetings<br>
            <i class="red check icon"></i>Foreign travel must not be scheduled on registration day, first 2 weeks of classes and finals<br>
          </div>

          <div class="column">
            <i id="icon3" class="red massive users icon"></i>
            <h3>&emsp;&emsp;&emsp;&emsp;&emsp;Qualification 3</h3>
            <i class="red check icon"></i>Must be approved by the:<br>&emsp;
            <i class="red chevron circle right icon"></i>Department Chair<br>&emsp;
            <i class="red chevron circle right icon"></i>Department APC<br>&emsp;
            <i class="red chevron circle right icon"></i>College ExeComm<br>&emsp;
            <i class="red chevron circle right icon"></i>College Dean<br>&emsp;
            <i class="red chevron circle right icon"></i>CU APFC<br>&emsp;
            <i class="red chevron circle right icon"></i>Chancellor<br>&emsp;
          </div>
          </div>
        </div>
      </div>

      <div id="segment2" class="ui vertical stripe segment">
        <h1 id="subqual"><center>Obligations & Conditions</center></h1><br><br><br>
        <h4 id="sub1"><center>Check out the list of obligations and conditions before viewing the application process</center></h4>
        <div class="ui vertical stackable grid">
          <div class="two column row">
            <div class="three wide column">
              <i id="icon4" class="red massive help icon"></i>
            </div>

            <div class="twelve wide column">
              <div class="ui accordion">

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red align justify icon"></i>Type
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Special Detail with Pay (SDWP) and Special Detail without Pay (SDWOP)</p>
                  <p><i class="red angle double right icon"></i>A member of the academic staff or an administrative officer may be assigned by the President or the Chancellor, as the case may be, on a special detail in the Philippines or abroad for the benefit of the University or of any of its units under conditions to be fixed by him/her in each case;</p>
                </div>

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red clone icon"></i>Conditions
                </div>
                <div class="content">
                  <h4 id="sub2">Special Detail with Pay (SDWP)</h4>
                  <p><i class="red angle double right icon"></i>
                    Provided, That members of the faculty who are married at the time of the detail may be granted an extra family allowance per month, to commence from the date of departure from a Philippine port to the date of their arrival in the Philippines if in the opinion of the President, or of the Chancellor, as the case may be, the circumstance warrant
                  </p>
                  <p><i class="red angle double right icon"></i>
                    Provided, further, That the President, or the Chancellor, as the case may be, may authorize the commutation in advance of salaries and/or family allowances, such commutation to be limited to not more than three (3) months
                  </p>
                  <p><i class="red angle double right icon"></i>
                    Provided, finally, That, upon request of another agency, government or private, and when the needs of the University so permit, University personnel may be detailed by secondment to the requesting agency subject to certain conditions.
                  </p>
                  <p><i class="red angle double right icon"></i>
                    Special detail shall include participation in an official capacity in conferences, workshops, seminars, short-term courses, and similar activities subject to prior authorization and to such conditions as may be attached thereto and to applicable laws and regulations. <i>[Refer to Chapter 4 Duties and Responsibilities, Section 5 Attendance in Classes]</i>
                  </p>
                  <h4 id="sub2">Special Detail without Pay (SDWOP)</h4>
                  <p><i class="red angle double right icon"></i>
                    It should, however, be noted that any study leave or special detail on oficial time without pay granted to faculty members and research extension and professional staff (REPS] whike pursuing graduate studies in the country or abroad in pursuit of the University 's faculty and staff development program is considered active service to the University and, thus, computed as an integral part of their total service record in UP.<br><br><i>(1106th BOR meeting, Mar. 6,1997; OSU memo no.MVG-04-40, July 9,2004)</i><br><br>

                    <i>The phrase "without pay" affixed to study leave or special detail assignment is an internal mechanism adopted by the University to enable it to pursue its program without additional cost to the University.</i>
                  </p>
                </div>

                <div id="acctitle" class="title">
                  <i class="dropdown icon"></i>
                  <i class="red remove icon"></i>Restrictions
                </div>
                <div class="content">
                  <h4 id="sub2">Special Detail with Pay (SDWP)</h4>
                  <p><i class="red angle double right icon"></i>
                    A faculty member may, however, be allowed to go on special detail to attend conferences, seminars and the like, or serve as consultant or resource person, during a semester if the total amount of class missed is not more than 20% of the time for each course s/he is handling during that semester.
                  </p>
                  <p><i class="red angle double right icon"></i>
                    As much as possible, foreign travel to attend international conferences and seminars should not be scheduled during registration days, the first two (2) weeks of classes, and final examination days.
                  </p>

                  <h4 id="sub2">Special Detail without Pay (SDWOP)</h4>
                  <p><i class="red angle double right icon"></i>
                    Any member of the academic staff, officer, or employee of the University System shall be dropped fiom the service for unexplained absence for at least thirty (30) days after the expiration of the period of the leave granted. Page 29, Chapter 6.2.9 Leave Without Pay (Study Leave/Special Detail), Faculty Manual, 2005.<br><br>

                    <i>(Refer to Section 2.12 Leaves and Special Detail of Chapter 10 Conduct,Restrictions and DiscipIine)</i>
                  </p>

                  <p><i class="red angle double right icon"></i>
                    10.2.12 Leaves and Special Detail University policy provides that no more than the equivalent of fifteen percent (15%) of the faculty may be allowed to go on leave of absence with pay at any given semester. The Executive Committee likewise adopted a policy that leaves and special detail taken during the semester which shall amount to losing twenty percent (20%) of class meetings shall not be allowed. Fast-tracking of class meetings for fhe reason that the faculty member is leaving for abroad is discouraged. Finally, leaves or special detail that start while the semester is ongoing and end after the next semester has started are not allowed. Faculty members should synchronize their leaves or special detail with the semestral schedule.<br><br><i>(OC memo no. ERR-03-091,Sept. 3,2003)</i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="segment3" class="ui vertical stripe segment">
        <h1><center>Special Detail Application Process</center></h1><br><br><br>
        <div class="ui vertical stackable grid">
          <div class="five column row">
            <div id="verticalcol" class="four wide column">
              <i class="red massive mail icon"></i>
              <!-- <i class="red massive long arrow right icon"></i> -->
              <h3>Step 1</h3>
              <h4>Submit letter of request</h4>
              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  <i class="red align justify icon"></i>Full Details
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Submit letter of request with endorsement and complete documents attached to Scholarship section for validation</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  <i class="red university icon"></i>Service Provider
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Scholarship Section</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  <i class="red user icon"></i>Person in charge
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Frontline Staff of Scholarship Section</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  <i class="red folder icon"></i>Forms
                </div>
                <div class="content">
                  <p><i class="red check icon"></i>Letter of request for special detail addressed to the Chancellor, through channels  with endorsement of Department Chair and Dean/Head of Unit/College (with Justication)</p>
                  <p><i class="red check icon"></i>Copy of invitation from requesting Agency</p>
                  <p><i class="red check icon"></i>Application to Travel Abroad (for Faculty)</p>
                  <p><i class="red check icon"></i>For Travels more than one month:<br>a. Dully accomplished Fellowship<br>Contract with corresponding Suretyship Agreement<br>b. University Clearance</p>
                </div>
              </div>
            </div>

            <div id="verticalcol" class="two wide column">
              <i class="red massive right angle icon"></i>
            </div>

            <div id="verticalcol" class="four wide column">
              <i class="red massive check circle icon"></i>
              <h3>Step 2</h3>
              <h4>Verify the appointment status</h4>
              <div class="ui accordion">
                <div class="title" id="fulldetails2">
                  <i class="dropdown icon"></i>
                  <i class="red align justify icon"></i>Full Details
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Verify the appointment status if effectivity of the detail is within the approved period of appointment</p>
                </div>
                <div class="title" id="service2">
                  <i class="dropdown icon"></i>
                  <i class="red university icon"></i>Service Provider
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Appointment Section</p>
                </div>
                <div class="title" id="person2">
                  <i class="dropdown icon"></i>
                  <i class="red user icon"></i>Person in charge
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Analyst of Appointment Section</p>
                </div>
              </div>
            </div>

            <div id="verticalcol" class="two wide column">
              <i class="red massive right angle icon"></i>
            </div>

            <div id="verticalcol" class="four wide column">
              <i class="red massive lock icon"></i>
              <h3>Step 3</h3>
              <h4>Secure copy of Special Detail application</h4>
              <div class="ui accordion">
                <div class="title" id="fulldetails3">
                  <i class="dropdown icon"></i>
                  <i class="red align justify icon"></i>Full Details
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Secure receiving copy of the Special Detail Application</p>
                </div>
                <div class="title" id="service3">
                  <i class="dropdown icon"></i>
                  <i class="red university icon"></i>Service Provider
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Scholarship Section</p>
                </div>
                <div class="title" id="person3">
                  <i class="dropdown icon"></i>
                  <i class="red user icon"></i>Person in charge
                </div>
                <div class="content">
                  <p><i class="red angle double right icon"></i>Frontline Staff of Scholarship Section </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- FOOTER -->
    <?php include('employee_footer.php'); ?>
  </body>


  <!-- JS Code -->
  <script>

  $('.ui.accordion')
    .accordion({
      'exclusive': false,
    }
  );

  $('.ui.dropdown')
    .dropdown()
  ;

  </script>

</html>
