<div class="ui red center aligned inverted vertical footer segment">
  <div class="ui horizontal inverted small divided link list">
    <%= link_to "Osmeña Avenue, Diliman,  Quezon City,  Metro Manila", "https://www.google.com.ph/maps/place/Quezon+Hall/@14.6548946,121.0650716,15z/data=!4m5!3m4!1s0x0:0x78351c9414d84f
    d6!8m2!3d14.6548946!4d121.0650716", class: "item" %>

    <%= link_to "hrdo.updiliman@up.edu.ph", contacts_new_path, class: "item" %>

    <%= link_to "uphrdotraining@gmail.com", "https://uphrdotna.herokuapp.com", class: "item" %><a> </a>
    <%= link_to "hrdo.upd.edu.ph", "http://hrdo.upd.edu.ph/", class: "item" %>
    <p><br>Copyright © 2017<p>
  </div>
</div>
